<div class="cmn posts-show">
    <p class="url">Find me in app/views/posts/show.html.erb</p>
    <h2 class="cmn-title"><%= @post.title %></h2>
    <div class="content">
        <div class="img-icon">
            <% if @post.user.image? %>
                <%= image_tag @post.user.image.url %>
            <% else %>
                <%= image_tag "/assets/default.jpg", :size => '250x250' %>
            <% end %>
        </div>
        <div class="name">
            投稿者: <%= @post.user.username %>
        </div>
        <div class="content">
            内容: <%= @post.content %>
        </div>
    </div>
    <div class="current_user">
        <% if @post.user == current_user %>
            <%= link_to '●投稿の編集', edit_post_path(@post.id) %>
            <br>
            <%= link_to "●削除する", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"} %>
        <% end %>
    </div>
    <div class="comment">
        <h3 class="cmn-subtitle">□この投稿に対するコメント</h3>
        <div class="comment-container">
            <% if @post.comments.any? %>
                <div class="item">
                    <% @post.comments.each do |comment| %>
                        <div class="name">
                            <p>名前 : <%= comment.name %></p>
                        </div>
                        <div class="desc">
                            <p>コメント : <%= comment.content %></p>
                        </div>
                        <div class="menu">
                            <%= link_to '●コメント編集', edit_post_comment_path(@post, comment) %>
                            <%= link_to '●コメント削除', post_comment_path(@post, comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <p>この投稿に対するコメントはありません</p>
            <% end %>
        </div>
        <div class="comment-form">
            <h3 class="cmn-subtitle">□コメントを投稿する</h3>
            <%= form_with model: [@post, @comment], local: true do |f| %>
                <%= f.hidden_field :post_id, { value: @post.id} %>
                <div class="com-field">
                    <label class="title">名前</label>
                    <div class="content">
                        <%= f.text_field :name, class: 'com-form' %>
                    </div>
                </div>
                <div class="com-field">
                    <label class="title">コメント</label>
                    <div class="content">
                        <%= f.text_area :content, class: 'com-form', size: "60x10"  %>
                    </div>
                </div>
                <div class="btn-com">
                    <%= f.submit "コメントする", class: 'btn' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
